/* All the Global CSS code goes here */

body {
  font-family: "Poppins", sans-serif;
}

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}

/* Skeleton styles */
.skeleton-box {
  position: relative;
  overflow: hidden;
}

.skeleton-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #e0e0e0 8%, #f4f4f4 18%, #e0e0e0 33%);
  animation: loading 1.5s infinite linear;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-radius: 50%;
}
.border-gradient {
  border-image-source: linear-gradient(to left, #00c853, #b2ff59);
}

@keyframes loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
